# When enabled removes no robot protection for search indexing
PUBLIC_PUBLICIZE=
# Provide a Google Analytics code to enable tracking
GOOGLE_ANALYTICS_CODE=G-YOURMOMISLOVELY
# Switch to enable Error Reporting with Marker.io widget
ERROR_REPORTING=
MARKERIO_PROJECT_ID=
ENABLE_DEBUG_TOOL=true
